/* by Kyle Falicov */
html
{
	height: 100%;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body
{
    background-color: #2b024c;
	color: white;
    font-family: "Avenir", Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
	display: block;
	height:100%;
}
#readme
{
    margin-top: 10px;
}
canvas
{
	border-top: 1px solid white;
	padding: 0px;
	margin: 0 auto;
	margin-top: 10px;
}
div
{
	box-sizing: border-box;
	padding: 0px;
	position: relative;
	left: 0;
	right: 0;
}